body {
	background-color: #EEEEEE;
	font-size: .28rem;
}
/*提示*/

.tips {
  display: none;
  width: 5.3rem;
  height: 1rem;
  border-radius: .5rem;
  background-color: #FFAA25;
  color: white;
  text-align: center;
  line-height: 1rem;
  font-size: .48rem;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -.7rem;
  margin-left: -2.65rem;
}

/*头部*/

header {
	width: 7.5rem;
	height: .9rem;
	background-color: white;
	font-size: .32rem;
	line-height: .9rem;
	padding-left: .1rem;
	margin: 0 auto;
}

header span {
	display: block;
	float: left;
}

#back-img {
	width: .28rem;
	height: .32rem;
	background: url(../img/back_img.png);
	background-size: .28rem .32rem;
	margin-top: .30rem;
}

#shu-img {
	width: .28rem;
	height: .28rem;
	background: url(../img/shu_img.png);
	background-size: .28rem .28rem;
	margin-top: .32rem;
}

header a:last-child {
	float: right;
	margin-right: .2rem;
	color: #FFAA25;
}

header a:last-child:hover {
	text-decoration: none;
}


/*内容*/

content {
	display: block;
	width: 7.5rem;
	margin: 0 auto;
}


/*验证码*/

#changePassword {
	height: 2.2rem;
	margin-top: .2rem;
	padding: .4rem .2rem;
	background-color: white;
}

#changePassword p {
	font-size: .22rem;
	color: #777777;
	margin-bottom: .3rem;
}

#changePassword input {
	width: 5rem;
	height: .8rem;
	padding-left: .2rem;
	border: 1px solid darkgray;
	border-radius: .08rem;
}

#sendBtn {
	width: 1.9rem;
	height: .8rem;
	line-height: .8rem;
	border: 1px solid black;
	border-radius: .08rem;
	text-align: center;
	font-size: .2rem;
	display: block;
	float: right;
	cursor: pointer;
}

#changePassword+div {
	padding: .2rem .2rem;
}

#sureBtn {
	width: 7.1rem;
	height: .8rem;
	background-color: #FFAA25;
	color: white;
	border: none;
	border-radius: .2rem;
}



/*模态框*/

.modal-dialog {
	margin-top: 3rem;
}

#myModalLabel {
	font-size: .32rem;
}
#passWord,#sureWord{
	display: flex;
	justify-content: center;
}
#passWord>input,#sureWord>input{
	width: .94rem;
	height: .94rem;
	text-align: center;
	font-size: 1rem;
	border: 1px solid #777777;
}


/*密码输入*/
.wordShow{
  width: .94rem;
  height: .94rem;
  display: inline-block;
  border: 1px solid #777777;
  margin-top: .1rem;
  margin-bottom: .1rem;
  font-size: 1rem;
  position: relative;
}
.wordText{
  display: block;
  width: .4rem;
  height: .4rem;
  background-color: black;
  border-radius: 100%;
  position: absolute;
  top: 50%;margin-top: -.2rem;
  left: 50%;margin-left: -.2rem;
}
#passWord>input,#sureWord>input{
  position: absolute;
  left: 50%;
  opacity: 0;
}
#sureWord{
  display: none;
}
