
body {
  background-color: #EEEEEE;
  font-size: .28rem;
}


/*头部*/

header {
  width: 7.5rem;
  height: .9rem;
  background-color: white;
  font-size: .32rem;
  line-height: .9rem;
  padding-left: .1rem;
  margin: 0 auto;
}

header span {
  display: block;
  float: left;
}

#back-img {
  width: .28rem;
  height: .32rem;
  background: url(../img/back_img.png);
  background-size: .28rem .32rem;
  margin-top: .30rem;
}

#shu-img {
  width: .28rem;
  height: .28rem;
  background: url(../img/shu_img.png);
  background-size: .28rem .28rem;
  margin-top: .32rem;
}
/*内容*/
content{
  display: block;
  width: 7.5rem;
  margin: 0 auto;
}
/*学员名单*/
.perList{
  height: 2.1rem;
  background-color: white;
  margin-top: .1rem;
  padding-top: .2rem;
  border-top: 1px solid #D0D0D0;
  border-bottom: 1px solid #D0D0D0;
}
.perList .head-img{
  width: 1.6rem;
  height: 2.1rem;
  background: url("../img/head-img.png") no-repeat top;
  background-size: .94rem .94rem;
  display: block;
  float: left;
}
.perList .shouji-img{
  width: .26rem;
  height: .32rem;
  background: url("../img/shouji-img.png") no-repeat;
  background-size: .26rem .32rem;
  display: block;
  float: left;
  margin-right: .1rem;
}
.perList p{
  font-size: .28rem;
  margin-bottom: .2rem;
}

