body {
	background-color: #EEEEEE;
	font-size: .28rem;
}


/*头部*/

header {
	width: 7.5rem;
	height: .9rem;
	background-color: white;
	font-size: .32rem;
	line-height: .9rem;
	padding-left: .1rem;
	margin: 0 auto;
	position: relative;
}

header span {
	display: block;
	float: left;
}

#back-img {
	width: .28rem;
	height: .32rem;
	background: url(../img/back_img.png);
	background-size: .28rem .32rem;
	margin-top: .30rem;
}

#shu-img {
	width: .28rem;
	height: .28rem;
	background: url(../img/shu_img.png);
	background-size: .28rem .28rem;
	margin-top: .32rem;
}

#camera {
	width: .4rem;
	height: .4rem;
	background: url("../img/camera-img.png");
	background-size: .4rem .4rem;
	position: absolute;
	right: .2rem;
	top: .26rem;
}


/*内容*/

content {
	display: block;
	width: 7.5rem;
	margin: 0 auto 1.4rem;
}


/*个人信息*/

#information {
	height: 4.2rem;
	margin-top: .2rem;
}

#information p,#circle p,#help p{
	font-size: .32rem;
	position: relative;
	padding-left: .2rem;
}

#information span {
	font-size: .32rem;
	color: #777777;
	position: absolute;
	right: .2rem;
}

.head-img {
	width: 1.4rem;
	height: 1.4rem;
	background: url("../img/head-img.png");
	background-size: 1.4rem 1.4rem;
	display: block;
	top: .3rem;
}

#information>div {
	background-color: white;
	margin-bottom: .1rem;
}

#information>div:first-child {
	height: 1.94rem;
	line-height: 1.94rem;
}

#information>div+div {
	height: 1.04rem;
	line-height: 1.04rem;
}

#circle{
	height: 2.3rem;
	line-height: 2.3rem;
	background-color: white;
	margin-bottom: .1rem;
	margin-top: .2rem;
}
#circle>div{
	margin-right: .2rem;
	float: left;
	position: relative;
}
.showImg{
	width: 1.7rem;
	position: absolute;
	top:50%;
	margin-top: -.85rem;
}
.showImg>img{
	display: block;
	float: left;
	margin-right: .04rem;
	margin-bottom: .04rem;
}

#help div {
	height: 1.04rem;
	line-height: 1.04rem;
	background-color: white;
	margin-bottom: .1rem;
	margin-top: .2rem;
}