body {
	background-color: #EEEEEE;
	font-size: .28rem;
}


/*头部*/

header {
	width: 7.5rem;
	height: .9rem;
	background-color: white;
	font-size: .32rem;
	line-height: .9rem;
	padding-left: .1rem;
	margin: 0 auto;
}

header span {
	display: block;
	float: left;
}

#back-img {
	width: .28rem;
	height: .32rem;
	background: url(../img/back_img.png);
	background-size: .28rem .32rem;
	margin-top: .30rem;
}

#shu-img {
	width: .28rem;
	height: .28rem;
	background: url(../img/shu_img.png);
	background-size: .28rem .28rem;
	margin-top: .32rem;
}


/*内容*/

content {
	display: block;
	width: 7.5rem;
	margin: 0 auto;
}


/*背景信息*/

#backShow {
	height: 4.8rem;
	width: 7.5rem;
	background-color: #FF9D45;
	font-size: .28rem;
	text-align: center;
	position: relative;
}

#backShow img {
	width: 1.4rem;
	height: 1.4rem;
	border-radius: 100%;
	border: .04rem solid white;
	margin-top: 1rem;
}

#backShow>p {
	color: white;
	margin-top: .2rem;
}

#backShow>div {
	width: 7.5rem;
	height: 0.9rem;
	line-height: 0.9rem;
	text-align: center;
	position: absolute;
	bottom: 0;
	background-color: rgba(255, 255, 255, 0.5);
}

#backShow>div>span {
	color: #FF9D45;
}

#info p,#center p{
	height: 1.1rem;
	margin: 0;
	line-height: 1.1rem;
	padding: 0 .2rem;
	background-color: white;
	position: relative;
}

#info p+p,#center p+p {
	margin: .04rem 0 0;
}

#info p span,#center p span {
	position: absolute;
	top: 0.42rem;
	right: 0.2rem;
}
#info p strong,#center p strong{
	position: absolute;
	top: 0;
	right: 0.5rem;
	font-weight: normal;
}

.btn-on {
	width: 0.86rem;
	height: 0.5rem;
	border-radius: 0.25rem;
	background-color: #FF9D45;
}

.btn-off {
	width: 0.86rem;
	height: 0.5rem;
	border-radius: 0.25rem;
	background-color: darkgrey;
}

#info i {
	display: inline-block;
	width: 0.4rem;
	height: 0.4rem;
	border-radius: 100%;
	background-color: white;
	position: absolute;
	bottom: .05rem;
	cursor: pointer;
}

.btn-on>i {
	right: .1rem;
}

.btn-off>i {
	left: .1rem;
}

#center p:first-child{
	background-color: #EEEEEE;
}
#center p:first-child>i{
	height: 0.36rem;
	border-left: 0.08rem solid #FF9D45;
	position: absolute;
	left: 0;
	top: 0.36rem;
}
